// sidebar
$menuText: #333;
$menuActiveText: #409EFF;
$subMenuActiveText: #409EFF;

$menuBg: rgba(255, 255, 255, .95);
$menuHover: #ddd;

$subMenuBg: #ccc;
$subMenuHover: #bbb;

$sideBarWidth: 200px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
